{% extends 'blog/base.html' %}

{% block aaa %}
  Chinsess aaa
{% endblock %}

{% block image %}
  {% load static %}
  <img src="{% static "blog/images/la.jpg" %}" class="img-responsive" alt="My image"/>
{% endblock %}

{% block content %}
  {% load render_bundle from webpack_loader %}<h1>Example</h1>
  <div id="react-app"></div>
  {% render_bundle 'main' %}

  {% load render_bundle from webpack_loader %}<h1>Example</h1>
  <div id="react-xxx"></div>
  {% render_bundle 'main' %}

  {% for post in posts %}
    <div>
      <div class="col-md-4">
        <img src="{% static "blog/images/la.jpg" %}" class="img-responsive" alt="My image"/>
      </div>
      <div class="col-md-7">
        <p>published: {{ post.published_date }}</p>
        <h3><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr class="style5">
      </div>
    </div>
  {% endfor %}
{% endblock %}
